/* Reset */
* {
    padding: 0;
    margin: 0;
}

/* Heading */
h1 {
    border: 3px solid black;
    border-radius: 9px;
    text-align: center;
    background-color: rgb(198, 203, 207);
    color: maroon;
    padding: 5px;
    width: fit-content;
    margin: 20px auto;
}

/* Text */
p, ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
}

ul li{
    margin-left: 30px;
    padding: 4px 0;
}

/* Image container */
.image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

/* Images */
.img {
    border: 3px solid;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
}

.img:hover {
    transform: scale(1.1);
    border: 3px solid rgb(109, 98, 98);
    box-shadow: 
        0 0 20px #3b3d3d,
        0 0 40px #565858,
        0 0 60px #565959;
}

/* Button */
button {
    display: block;
    margin: 30px auto;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #eaf0f0;
    cursor: pointer;
    font-weight: bold;
}
